html
  head
    style 
      include styles.css
    title SCORE
  body
    h1 Your Total Score
    if selectedGame
      p Selected Game: #{selectedGame._id}: #{selectedGame.description} 
      p <h3 id="totalscore">Total Score: #{score}</h3>
      
      form(action="/scores", method="POST")
        input(type="hidden", name="gameId", value=selectedGame._id)
        input(type="hidden", name="score", value=score)
        input(type="submit", value= 'play again?')


